@page "/"

<h1 class="page-title">@Localizer["WelcomeMessage"]</h1>
<br />
<h3>@Localizer["IntroMessage"]</h3>
<br />
<AuthorizeView>
    <Authorized>
        <h1>@Localizer["AuthorizedMessage"]</h1>
        <br />
        @foreach (var widget in Widgets)
        {
            <DynamicComponent Type="widget"></DynamicComponent>
        }
    </Authorized>
    <NotAuthorized>
        <h1>@Localizer["NotAuthorizedMessage"]</h1>
    </NotAuthorized>
</AuthorizeView>